
$main-pros-backgroundColor: #161a25;
$white-text-color: #ffffff;
$lightGray-text-color: #A6A7A6;
$navigation-bgColor: rgba(0,0,0,0.75);
$success-icon-color: #0DD80C;
$main-icons-color: #058FF1;
$user-slider-bgColor: #f4f4f6;
$auth-form-border-color: #DEDEDE;
$auth-form-shadow-color:  rgba(214,214,214,1);
$auth-input-border-color: #E4E4E4;
$auth-button-bgColor: #05B8EA;
$lost-password-icon-hoveredColor: #11C4EA;
$auth-redirect-text-color: #10A7E5;
$dashboard-router-border-color: #0FAAF0;
$dashboard-route-items-border-color: #D8D8D8;
$dashboard-route-items-hovered-color: #01B7F9;
$dashboard-route-items-text-color: #26A2CF;
$main-auth-form-redirect-text-color: #384264;
$main-auth-button-bgColor: #1A2238;
$main-auth-input-border-color: #1C212E;
$main-auth-input-bgColor: #232939;
$main-auth-form-bgColor: #161a25;
$main-payment-systems-bgColor: #EDEDED;
$about-video-content-bgColor: #F6F6F0;