
@import "assets/style/variables";


.share {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1rem 2rem;
  height: 200px;

  &:hover {
    box-shadow: -1px 0px 16px 0px rgba(115,108,115,1);
  }

  .share-price {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
  }

  .short-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .info {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }

    .share-icon {
      padding-left: 1.2rem;

      & > svg {
        fill: #E1C201;
      }
    }
  }

  .shares-button {
    margin-top: 1rem;
    color: $white-text-color;
    display: flex;
    justify-content: center;

    & > button {
      background-color: #0C9AEE;
      border: 1px solid #0C9AEE;
      width: 250px;
      height: 35px;
      border-radius: 10px;

    }
  }
}